.redirect {
    line-height: initial;
    text-align: center;
    color: #a0a0a0;
}

.redirect__link {
    color: #F3C1F8;
    text-decoration: none;
    cursor: pointer;
}

.redirect__link:hover {
    text-decoration: underline;
}
