.form {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    width: 396px;
    height: 560px;
}

.form__title {
    place-self: flex-start;
    margin: 40px 0;
    font-size: 24px;
    font-weight: 500;
    line-height: initial;
}

.form__fieldset {
    width: 100%;
    padding: 0;
    border: none;
    margin: 0;
}

.form__label {
    place-self: flex-start;
    margin: 0 0 5px 0;
    font-size: 10px;
    line-height: initial;
    color: #F9F9F9;
}

form__input {
    margin-bottom: 24px;
}

.form__input_invalid {
    margin-bottom: 6px;
}

.form__error {
    margin: 0 0 10px 0;
    color: #ee3465;
}

.form__submit {
    display: block;
    width: 100%;
    height: 45px;
    padding: 0;
    border: none;
    border-radius: 3px;
    margin: auto 0 16px;
    color: #fff;
    background-color: #000000;
    cursor: pointer;
    outline-color: #ee3465;
}

.form__submit:hover {
    opacity: .8;
}

.form__submit:disabled {
    background-color: #F9F9F9;
}

.form__submit:disabled:hover {
    opacity: 1;
    cursor: not-allowed;
}

@media screen and (max-width: 449px) {
    .form {
        width: 260px;
        min-height: 600px;
    }

    .form__title {
        margin: 50px auto 80px;
    }

    .form__logo {
        margin: 0 auto;
    }
}
